[Desktop Entry]
Type=Application
Version=1.0
Name=Icons
Comment=Generate and export application icons
Exec=/usr/bin/icons
Icon=icons
Terminal=false
Categories=Graphics;
StartupNotify=true
